[submodule "chutes"]
	path = chutes
	url = https://github.com/chutesai/chutes.git
[submodule "chutes-api"]
	path = chutes-api
	url = https://github.com/chutesai/chutes-api.git
[submodule "chutes-miner"]
	path = chutes-miner
	url = https://github.com/chutesai/chutes-miner.git
[submodule "chutes-e2ee-transport"]
	path = chutes-e2ee-transport
	url = https://github.com/chutesai/chutes-e2ee-transport.git
[submodule "sek8s"]
	path = sek8s
	url = https://github.com/chutesai/sek8s.git
